<div class="main-home-container">
    <app-header></app-header>
    <div class="main-home-container-2">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="https://img.freepik.com/free-vector/vector-cartoon-background-gym-with-girls-doing-fitness_33099-1205.jpg?w=1380&t=st=1648898526~exp=1648899126~hmac=e4346e0a0ecfed1d2e32dcfd360f716cab7eeb1945a8909b976ca0d2f8dd2a88" class="d-block carousel-width" alt="first slide">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://img.freepik.com/free-vector/gym-isometric-landing-page-fitness-equipment_107791-897.jpg?w=1380&t=st=1648898665~exp=1648899265~hmac=cf8de39d9edce8a758e67fb2b3041efd807728094eb4898bf29624337c61eb55" class="d-block carousel-width" alt="second slide">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://img.freepik.com/free-vector/sport-home-banner-template_52683-52350.jpg?t=st=1648958180~exp=1648958780~hmac=1ab2ec0bdc4ecc7d62de140c997c791394ae78dfe0d989a8b6f7dc59f18606e4&w=996" class="d-block carousel-width" alt="third slide">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://img.freepik.com/free-vector/gym-interior-illustration_1262-16321.jpg?w=1060&t=st=1648958665~exp=1648959265~hmac=976acfbdb665de61513313effddff7c9b28d71bb5daa920fbfdaf56f630e64ab" class="d-block carousel-width" alt="fourth slide">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="filter-container">
            <div class="input-group input-cust">
                <span class="input-group-text">Search</span>
                <input type="text" class="input-cont"/>
            </div>
            <div>
                <div class="dropdown">
                    <button (click)="toggleShow()" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown button
                    </button>
                    <ul [ngClass]="show? 'dropdown-menu show' : 'dropdown-menu' " aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div>
            <!-- <div class="Calorie-type">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown button
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </div> -->
        </div>
        <app-workout-cards></app-workout-cards>
    </div>
</div>