<div class="main-container">
    <h1 class="logo-head"><img src="https://p.kindpng.com/picc/s/160-1601328_fitness-icon-png-transparent-png.png" class="weblogo"/>WorkoutApp</h1>
    <div class="nav-card">
      <a routerLink="" routerLinkActive="active" class="link"><p class="nav-items">Home</p></a>
      <a routerLink="/workouts" routerLinkActive="active" class="link"><p class="nav-items">Workouts</p></a>
      <a routerLink="/about" routerLinkActive="active" class="link"><p class="nav-items">About</p></a>
      <a routerLink="/contact" routerLinkActive="active" class="link"><p class="nav-items">Contact Us</p></a>
      <a routerLink="/cart" routerLinkActive="active" class="link"><p class="nav-items">Cart</p></a>
      <button type="button" class="logout-button" (click)="handleRoute()">Logout</button>
    </div>
</div>