.main-container{
    background-color:#329fc7 ;
    color:white;
    width:100%;
    height:10vh;
    display: flex ;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center ;
    padding:20px
}
.logout-button{
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.weblogo{
    height:8vh;
    border-radius: 50px;
    margin-right:10px
}
.logo-head{
    font-size: 20px;
    margin-top:5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-card{
    display: flex;
    justify-content: center;
}
.nav-items{
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    padding-right: 24px;
    cursor: pointer;
    margin-top: 15px;
}
.link{
    text-decoration: none;
}