<app-header></app-header>
<div class='contact-container'>
    <div class='contact-card'>
        <div class='contact-content'>
            <h1 class='contact-title'>Contact Us</h1>
            <p class='contact-para'> Customer Care</p>
        </div>
        <img src='https://img.freepik.com/free-vector/flat-customer-support-illustration_23-2148899114.jpg?w=740&t=st=1648884908~exp=1648885508~hmac=a81c8ee6b713186218c992afc4d770eae4f8501e74ab41f7e8acb08356db83df' class='contact-image'/>
    </div>
</div>