<app-header></app-header>
<div class='home-container'>
    <div class='home-card'>
        <div class='home-content'>
            <h1 class='home-title'>Workouts</h1>
            <p class='home-para'>Most people can increase fitness by increasing physical activity levels. Increases in muscle size from resistance training are primarily determined by diet and testosterone. This genetic variation in improvement from training is one of the key physiological differences between elite athletes and the larger population. There is evidence that exercising in middle age may lead to better physical ability later in life.</p>
            <button class='home-button' (click)="goToWorkout()">Let's Start</button>
        </div>
    </div>
    <img class='home-image' src='https://img.freepik.com/free-vector/fitness-tracker-concept-illustration_114360-2569.jpg?w=740&t=st=1648875350~exp=1648875950~hmac=621367b72450eebc7b09dba47c05b896918ad0d909e86fdb99ef9e98fdeeb99c' />
</div>