.form-card{
    display: flex;
    flex-direction: column;
}
.input-card{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    outline: none;
}
.title{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 28px;
    color: #5c69ff;
   
}
.label{
    font-size: 12px;
    color: #323;
}
.button{
    color: #ffffff;
    background-color: blue;
    border: 0px;
    border-radius: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    cursor: pointer;
    outline: none;
}