.app-container{
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
}
.form-container{
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    width: 290px;
    border-radius: 10px;
}
.workout-image{
    height: 600px;
    width: 780px;
}
.main-style{
    font-weight:bold;
    color:#329fc7;
    margin-top:30px;
    text-align: center;
}

.weblogo1{
    height:100px;
    width:100px;
    border-radius: 60px
}
.finaltouch{
    height:100vh;
    overflow: hidden;
}