<div class='finaltouch'>
    <h1 class='main-style'><img src="https://p.kindpng.com/picc/s/160-1601328_fitness-icon-png-transparent-png.png" class="weblogo1"/> WorkoutApp</h1>
    <div class='app-container'>
        <img class='workout-image' src="https://img.freepik.com/free-vector/athletes-doing-fitness-exercise-gym-with-panoramic-windows-isolated-flat-vector-illustration-cartoon-people-cardio-training-weight-lifting_74855-8225.jpg?t=st=1647401572~exp=1647402172~hmac=eeb0ef11e13e8a5915ff749c640181cebfe33d919dc9aa9ec3cebb7fa1a57536&w=1060" alt="workout" />
        <div class='form-container shadow'>
            <app-login></app-login>
        </div> 
    </div>
</div>