.main-card-container{
    height: 100vh;
    padding-top: 65px;
    padding-bottom: 55px;
}
.main-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 125px;
}
.card-image{
    height: 380px;
    width: 680px;
    margin-right: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 7px 0px #000000;
    border: none;
}
.card-content{
    margin-top: 20px;
}
.card-heading{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
}
.card-calories{
    font-size: 15px;
}
.calorie{
    color: red;
    font-weight: 600;
    font-size: 15px;
}
.card-para{
    font-size: 15px;
    word-spacing: 2px;
    width: 80%;
    margin-top: 10px;
    padding-left: 10px;
}
.card-descrip{
    font-size: 16px;
    margin-bottom: 1px;
}
/* .video-player{
    padding-left: 125px;
    margin-top: 60px;
    padding-bottom: 35px;
}
.card-title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 65px;
}
.video-container{
    display: flex;
    margin-top: 38px;
} */