<app-header></app-header>
<div class="main-card-container">
    <div class="main-card">
        <img [src]="workoutDetail.imageurl" class="card-image"/>
        <div class="card-content">
            <h1 class="card-heading">{{workoutDetail.heading}}</h1>
            <p class="card-calories">Loss of Weight : <span class="calorie">{{workoutDetail.Calorieburnperhour}} Calorie/hr</span></p>
            <h1 class="card-descrip">Description:</h1>
            <p class="card-para"> {{workoutDetail.fulldiscription}}</p>
        </div>
    </div>
    <!-- <div class="video-player">
        <h1 class="card-title">How To Work</h1>
        <div class="video-container">
        <ReactPlayer height="450px" width="800px" url='https://www.youtube.com/watch?v=ysz5S6PUM-U'/>
        </div>
    </div> -->
</div>