<ul  class="flex-container">
    
        <li  *ngFor="let workout of workoutList" class="card shadow">
            <a routerLink="{{workout._id}}" routerLinkActive="active" class="link-card">
            <img src="{{workout.imageurl}}" class="cardimage"/>
            <h1 class="card-head-calorie">{{workout.Calorieburnperhour}} Calories</h1>
            <h1 class="card-head">{{workout.heading}}</h1>
            <p class="card-para">{{workout.discriptionforcard}}</p> 
        </a>
        </li>
   
</ul>