.list-item-container{
    list-style-type:none;
}
.cardimage{
    width:100%;
    height:50%;
    border-top-left-radius: 9px ;
    border-top-right-radius: 9px;
}
.card{
    width:400px;
    height:500px;
    margin:15px;
    border-radius:9px !important;
    box-shadow: 2px 2px;
    padding:5px;
    text-decoration: none;
   
}
.card-head{
    /* font-family: "Roboto"; */
    font-weight:bold;
    font-size:22px;
    color:black;
    text-align: center;
}
.card-para{
    /* font-family: "Roboto"; */
    
    font-size:15px;
    padding:14px;
    color:black;
    text-align: left;
}

.card-head-calorie{
    /* font-family: "Roboto"; */
    margin-top:10px;
    font-size:16px;
    font-weight:bold;
    color:red;
    text-align: center;
}
.link-card{
    text-decoration: none;
}